### After the preprocessing step we will be eastablishing the baseline for our model. Also, we know that our problem can be best solved by Regression methods.

In [1]:
# importing necessary packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.model_selection import cross_val_score, KFold, train_test_split
from sklearn.utils import shuffle
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.preprocessing import LabelEncoder, PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import warnings
warnings.filterwarnings("ignore")

#__author__ = Monish Khambhati
#__email__ = monish.khambhati@gmail.com

In [2]:
# importing the train data
train_df = pd.read_csv('data/train_features.csv')

In [3]:
# importing the target features data
target_df = pd.read_csv('data/train_salaries.csv')

In [4]:
# importing the test features data
test_df = pd.read_csv('data/test_features.csv')

In [5]:
# Merging the train and target dataframe
train_df = pd.merge(left = train_df,right = target_df,how='inner', on='jobId')

From the EDA conclusion we know that **jobId** is not related to the target variables. So, I will start by dropping those fetaures from train and test data. And also choosing the salaries which are greater than 0 in **train_df**.

In [6]:
# function to clean the dataframe
def clean_data(raw_df):
    '''remove rows that contain salary <= 0 or duplicate job IDs'''
    clean_df = raw_df.drop_duplicates(subset='jobId')
    clean_df = clean_df[clean_df.salary>0]
    return clean_df

In [7]:
train_df = clean_data(train_df)

In [8]:
test_df = test_df.drop('jobId', axis=1)

Before feeding data to our model we will be writing a function to perform **One Hot Encoding**.
 - One hot encoding is a process by which categorical variables are converted into a form that could be provided to ML algorithms to do a better job in prediction.

In [9]:
def one_hot_encode_df(df, cat_vars=None, num_vars=None):
    '''performs one-hot encoding on all categorical variables and combines result with continous variables'''
    cat_df = pd.get_dummies(df[cat_vars])
    num_df = df[num_vars].apply(pd.to_numeric)
    return pd.concat([cat_df, num_df], axis=1)

In [10]:
# defining categorical variable and numerical variables
categorical_vars = ['companyId','jobType', 'degree', 'major', 'industry']
numerical_vars = ['yearsExperience', 'milesFromMetropolis']
target_var = 'salary'

In [11]:
train_df = one_hot_encode_df(train_df,cat_vars=categorical_vars, num_vars=numerical_vars)

In [12]:
train_df.head()

,companyId_COMP0,companyId_COMP1,companyId_COMP10,companyId_COMP11,companyId_COMP12,companyId_COMP13,companyId_COMP14,companyId_COMP15,companyId_COMP16,companyId_COMP17,...,major_PHYSICS,industry_AUTO,industry_EDUCATION,industry_FINANCE,industry_HEALTH,industry_OIL,industry_SERVICE,industry_WEB,yearsExperience,milesFromMetropolis
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,10,83
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,3,73
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,10,38
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,8,17
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,8,16

## Splitting data into training and validation set and establishing the baseline
 - I will be using sklearn to split the data into training and validation set into 80:20 feataure
 - Also, the metric that we will choose in this case is Mean Squared Error(MSE). Mean squared error measures the average of the squares of errors, i.e, the difference between actual value (y) and the estimated value (Å·).
 - Baseline model would be a simple linear regession model and we will be using it to hypothesize solutions based on the results of the baseline.

In [13]:
# Extracting target variable from train_salaries which are greater than 0
target_df = clean_data(target_df)

In [14]:
target_df = target_df.drop('jobId',axis = 1)

In [15]:
# Splitting the data into train and validation set
X_train_data, X_test_data, y_train_data, y_test_data = train_test_split(train_df, target_df, test_size=0.2, random_state=1)

In [16]:
test_df = one_hot_encode_df(test_df,cat_vars=categorical_vars, num_vars=numerical_vars)

### Linear Regression

In [17]:
# Creating a linear regression object
lr = LinearRegression()

# Fitting the model with the train data
lr.fit(X_train_data, y_train_data)

# Predicting the model on the validation data
y_predict = lr.predict(X_test_data)
print("The first 5 predictied salaries: ", y_predict[0:5])

The first 5 predictied salaries:  [[157.66113281]
 [ 62.4675293 ]
 [108.64038086]
 [112.38195801]
 [ 92.36999512]]

In [18]:
# Evaluating our model using validation set by calculating mean squared error
mse = mean_squared_error(y_test_data, y_predict)

In [19]:
print(mse)

384.87103685501

## Hypothesize a solution
#### On the baseline simple regression model the MSE is 384.87. We would try other techniques and also do feature engineering and hyperparameter tuning to imrove model on test set. 
 - The models we will be using to achieve better accuracy are:
     - Random Forest Regressor
     - Gradient Boosting Regressor

### Random Forest Regressor

In [21]:
rf = RandomForestRegressor(n_estimators = 60, max_depth = 25, 
                           min_samples_split = 20, n_jobs = 2, 
                           max_features = 30)

In [22]:
#Fitting the object to training data
rf.fit(X_train_data, y_train_data)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=25, max_features=30, max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=20, min_weight_fraction_leaf=0.0,
                      n_estimators=60, n_jobs=2, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [23]:
# Checking the model accuracy on test set
rf.score(X_test_data, y_test_data)

0.753628750770697

In [24]:
# Making predictions on test data
y_predict_rf = rf.predict(X_test_data)
print("First 5 Predictions on test set: ", y_predict_rf[0:5])

First 5 Predictions on test set:  [156.22881855  61.49589036  96.20134462  99.18286317  95.57143932]

In [25]:
# Calculating mean squared error on test set
mean_squared_error(y_test_data, y_predict_rf)

371.04312162425936

### Gradient Boosting Regressor

In [26]:
#Creating Gradient Boosting Regressor object
gd = GradientBoostingRegressor(n_estimators = 60, max_depth = 5,loss = 'ls', verbose = 5)

In [27]:
#Fitting object to data
gd.fit(X_train_data, y_train_data)

      Iter       Train Loss   Remaining Time
         1        1349.8934           11.56m
         2        1228.8101           11.11m
         3        1128.7405           10.80m
         4        1044.5412           10.77m
         5         973.8131           10.66m
         6         912.9784           10.45m
         7         860.9562           10.32m
         8         813.5527           10.11m
         9         771.8185           10.01m
        10         735.6256            9.83m
        11         702.8820            9.66m
        12         675.2100            9.50m
        13         647.1429            9.35m
        14         622.9292            9.15m
        15         602.7250            8.96m
        16         582.9249            8.76m
        17         564.0264            8.49m
        18         547.9513            8.21m
        19         533.2990            7.95m
        20         520.3717            7.63m
        21         509.0961            7.34m
        22         497.0678            7.04m
        23         486.3063            6.78m
        24         477.7897            6.51m
        25         467.8144            6.24m
        26         460.7847            5.99m
        27         453.6967            5.74m
        28         447.8704            5.51m
        29         440.7992            5.28m
        30         435.6470            5.06m
        31         430.0027            4.84m
        32         425.5297            4.63m
        33         420.3855            4.43m
        34         416.0204            4.23m
        35         412.2877            4.04m
        36         409.2387            3.85m
        37         406.3499            3.67m
        38         403.0149            3.49m
        39         399.9628            3.31m
        40         396.8970            3.15m
        41         394.6281            2.97m
        42         392.2688            2.80m
        43         390.4437            2.64m
        44         388.5167            2.48m
        45         385.9674            2.32m
        46         384.5229            2.16m
        47         383.0007            2.04m
        48         380.9945            1.95m
        49         379.6684            1.80m
        50         378.4609            1.66m
        51         377.4510            1.51m
        52         376.4239            1.37m
        53         375.2437            1.21m
        54         374.3777            1.05m
        55         373.1621           53.16s
        56         372.3821           42.97s
        57         371.6315           32.50s
        58         370.7802           21.89s
        59         370.0914           11.04s
        60         369.4651            0.00s

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=5,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=60,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=5, warm_start=False)

In [28]:
y_predict_gd = gd.predict(X_test_data)

In [29]:
mean_squared_error(y_test_data, y_predict_gd)

371.70423609623873

### After hypothesizing solutions and testing them using 20% of test data we will develop a solution using object oriented approach and also predicting the salaries on test data. 
 - We would be following object oriented approach to automate the process.
 - We would be performing cross validation using k-fold cross validation with 5 folds.
 - We would try to automate the pipeline using the best model and deploy it.
 - We would also be able to distinguish the power of perfoming k-fold cross validation and pipeline which will improve our mse significantly.